<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <log4net>
      <appender>
        <filter>
          <levelMin value="DEBUG" xdt:Transform="Replace" xdt:Locator="Condition(@value='INFO')"/>
        </filter>
      </appender>
    </log4net>
</configuration>