<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SceneGraphPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>

		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<userSettings>
		<SceneGraphPlus.Properties.Settings>
   <setting name="MruSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="ColumnGap" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="RowGap" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ConnectorColour" serializeAs="String">
    <value>DimGray</value>
   </setting>
   <setting name="ConnectorWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MultiConnectorColour" serializeAs="String">
    <value>SaddleBrown</value>
   </setting>
   <setting name="MultiConnectorWidth" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ConnectorHighlightColour" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="ConnectorHighlightWidth" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ConnectorDetectWidth" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ConnectorPopupTextColour" serializeAs="String">
    <value>DarkSlateGray</value>
   </setting>
   <setting name="ConnectorPopupBackColour" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="BlockWidth" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="BlockHeight" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="BadTgirColour" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="MaxisBlockColour" serializeAs="String">
    <value>Gray</value>
   </setting>
   <setting name="MissingBlockColour" serializeAs="String">
    <value>LightGray</value>
   </setting>
   <setting name="CloneBlockColour" serializeAs="String">
    <value>LightSalmon</value>
   </setting>
   <setting name="OverflowRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="MmatBlockColour" serializeAs="String">
    <value>MediumOrchid</value>
   </setting>
   <setting name="MmatRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CresBlockColour" serializeAs="String">
    <value>RoyalBlue</value>
   </setting>
   <setting name="CresRow" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="ShpeBlockColour" serializeAs="String">
    <value>GreenYellow</value>
   </setting>
   <setting name="ShpeRow" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="GmndBlockColour" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="GmndRow" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="GmdcBlockColour" serializeAs="String">
    <value>Thistle</value>
   </setting>
   <setting name="GmdcRow" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="TxmtBlockColour" serializeAs="String">
    <value>Orange</value>
   </setting>
   <setting name="TxmtRow" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="TxtrBlockColour" serializeAs="String">
    <value>MediumVioletRed</value>
   </setting>
   <setting name="TxtrRow" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="GzpsBlockColour" serializeAs="String">
    <value>MediumPurple</value>
   </setting>
   <setting name="GzpsRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XobjBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XobjRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XmolBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XmolRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XtolBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XtolRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XfncBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XfncRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XrofBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XrofRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StrBlockColour" serializeAs="String">
    <value>SpringGreen</value>
   </setting>
   <setting name="StrRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XflrBlockColour" serializeAs="String">
    <value>DeepPink</value>
   </setting>
   <setting name="XflrRow" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LifoBlockColour" serializeAs="String">
    <value>PaleVioletRed</value>
   </setting>
   <setting name="LifoRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="LambBlockColour" serializeAs="String">
    <value>Tan</value>
   </setting>
   <setting name="LambRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="LdirBlockColour" serializeAs="String">
    <value>Tan</value>
   </setting>
   <setting name="LdirRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="LpntBlockColour" serializeAs="String">
    <value>Tan</value>
   </setting>
   <setting name="LpntRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="LsptBlockColour" serializeAs="String">
    <value>Tan</value>
   </setting>
   <setting name="LsptRow" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="AgedBlockColour" serializeAs="String">
    <value>ForestGreen</value>
   </setting>
   <setting name="AgedRow" serializeAs="String">
    <value>1</value>
   </setting>
  </SceneGraphPlus.Properties.Settings>
	</userSettings>

	<log4net>
		<!-- See http://logging.apache.org/log4net/release/config-examples.html -->
		<!-- See https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
		<root>
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="LogFileAppender"/>
		</root>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="FATAL"/>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level: %message%newline"/>
			</layout>
		</appender>

		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="SceneGraphPlus.log"/>
			<appendToFile value="false"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
				<levelMax value="FATAL"/>
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<!-- conversionPattern value="%date %level %logger - %message%newline" / -->
				<conversionPattern value="%level: %message%newline"/>
			</layout>
		</appender>
	</log4net>
</configuration>
