<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sims2Tools.DBPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sims2Tools.DBPF.Properties.Settings>
            <setting name="Sims2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP7Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP8Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2EP9Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP7Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SP8Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sims2SCPath" serializeAs="String">
                <value />
            </setting>
        </Sims2Tools.DBPF.Properties.Settings>
    </userSettings>
</configuration>